<app-fetching [isFetching]="isFetching"></app-fetching>
<div fxLayout="row wrap" fxLayoutAlign="center" class="containter">
    <div fxLayout="column" fxFlex="50%" fxFlex.sm="100%" fxLayoutAlign="space-around center">
        <div class="logo">
            <img src="assets/images/logo.svg" alt="">
        </div>
        <div>
            <h4>Entre em sua conta</h4>
            <div>
                <form action="" [formGroup]="signUpForm" fxLayoutAlign="start center" fxLayout="column" fxFlex="100%">
                        <mat-form-field appearance="outline" autocomplete="off">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username" placeholder="Username">

                            <mat-error *ngIf="signUpForm.controls.username.touched && signUpForm.controls.username.errors?.required">
                                USERNAME is required!
                            </mat-error>
                            <mat-error *ngIf="signUpForm.controls.username.touched && signUpForm.controls.username.errors?.minlength">
                                SERNAME must have at least 4 letters!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" autocomplete="off">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" placeholder="Email">

                            <mat-error *ngIf="signUpForm.controls.email.touched && signUpForm.controls.email.errors?.required">
                                EMAIL is required!
                            </mat-error>
                            <mat-error *ngIf="signUpForm.controls.email.touched && signUpForm.controls.email.errors?.email">
                                EMAIL must be an e-mail!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password" placeholder="Password">
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="TogglePasswordVisibility()">
                                <mat-icon *ngIf="isPasswordVisible">visibility_off</mat-icon>
                                <mat-icon *ngIf="!isPasswordVisible">visibility_on</mat-icon>
                            </button>

                            <mat-error *ngIf="signUpForm.controls.password.touched && signUpForm.controls.password.errors?.required">
                               PASSWORD is required!
                            </mat-error>
                            <mat-error *ngIf="signUpForm.controls.password.touched && signUpForm.controls.password.errors?.minlength">
                                PASSWORD must have at least 8 letters!
                            </mat-error>
                            <mat-error *ngIf="signUpForm.controls.password.touched && signUpForm.controls.password.errors?.pattern && !signUpForm.controls.password.errors?.minlength">
                                PASSWORD must contain special characters!
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Password Confirmation</mat-label>
                            <input matInput [type]="isPasswordVisible ? 'text' : 'password'" formControlName="passwordConfirm" placeholder="Password">
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="TogglePasswordVisibility()">
                                <mat-icon *ngIf="isPasswordVisible">visibility_off</mat-icon>
                                <mat-icon *ngIf="!isPasswordVisible">visibility_on</mat-icon>
                            </button>

                            <mat-error *ngIf="signUpForm.controls.passwordConfirm.touched && signUpForm.controls.passwordConfirm.errors?.required">
                               PASSWORD is required!
                            </mat-error>
                            <mat-error *ngIf="signUpForm.controls.passwordConfirm.touched && signUpForm.controls.passwordConfirm.errors?.minlength">
                                PASSWORD must have at least 8 letters!
                            </mat-error>
                            <mat-error *ngIf="signUpForm.controls.passwordConfirm.touched && signUpForm.controls.passwordConfirm.errors?.pattern && !signUpForm.controls.passwordConfirm.errors?.minlength">
                                PASSWORD must contain special characters!
                            </mat-error>
                            <mat-error *ngIf="signUpForm.controls.passwordConfirm.touched && signUpForm.controls.passwordConfirm.errors?.['passwordMismatch']">
                                passwords must match
                            </mat-error>
                        </mat-form-field>
                        <button [disabled]="!signUpForm.valid" mat-flat-button color="primary" (click)="SubmitForm()">Entrar</button>
                </form>
            </div>
        </div>
        <div>
            <p class="signup">Já possui uma conta? <a (click)="RedirectTo('signin')">Entre</a></p>
        </div>
    </div>
    <div *ngIf="!IsDeviceSm()" fxLayout="column" fxLayoutAlign="center" fxFlex="50%" class="sideB">
        <img fxHide.sm src="assets/images/bg-img.svg" alt="">
    </div>
</div>